<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="org.b3ds.ifarm.installation.log4j2" strict="true">

 <!-- <Appenders>
        <MyCustomAppender name="CustomWebSocketAppender" >
       		<PatternLayout pattern=" Date: %d | level:%level | class name:%logger | method name:%M() | line number:%L | Location: %l | message:%m%n" />
        </MyCustomAppender>
    </Appenders>
    -->   
    <Appenders>
        <CustomAppender name="CustomWebSocketAppender" >
       		<PatternLayout pattern=" %d:%logger:%m%n" />
        </CustomAppender>
    </Appenders>
    
       <Loggers>
       		<Logger name="org.springframework" level="INFO">
       			<AppenderRef ref="CustomWebSocketAppender" />
       		</Logger>
              <Root level="DEBUG" additivity="false">
                     <AppenderRef ref="CustomWebSocketAppender" />
              </Root>
       </Loggers>
</Configuration>
